

:root{
    --primary-blue: #4d96a9;
    --hover-blue: #8FE3F9;
    --primary-purple: #855fb1;
    --hover-purple: #d9b8ff;
    --font-primary-color: #28283d;
    --font-secundary-color: #87879d;
    --third-color: #d1d1df;
    --simple-white: #fafafa;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
}

header .nav-logo-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    min-width: 320px;
    height: 60px;
    margin-bottom: 50px;
}

header .nav-logo-container img{
    width: 118px;
    height: 28px;
}

.header-faces-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-bottom: 50px;
}

.faces-info--container{
    display: none;
}

.faces-left, .faces-right{
    width: 50%;
    height: auto;
}

.faces-left img, .faces-right img{
    width: 100%;
}

.main-info-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
    text-align: center;
}

.main-info-section h1{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 4.5rem;
    padding: 15px;
   
}

.main-info-section p{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 15px;
}

.main-button--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.main-dl-button{
    width: 150px;
    height: 50px;
    margin: 20px auto;
    border: none;
    border-radius: 50px;
    background-color: var(--primary-blue);
    color: var(--simple-white);
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.main-dl-button span{
    color: var(--hover-blue);
}

.main-info-button{
    width: 130px;
    height: 50px;
    margin: 0 auto;
    border: none;
    border-radius: 50px;
    background-color: var(--primary-purple);
    color: var(--simple-white);
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.icon-container{
    width: 100%;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.main-gallery-cotainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: 60px auto 30px;
    flex-wrap: wrap;
}

.gallery-pic{
    display: flex;
    width: 50%;
    min-width: 160px;
    max-width: 160px;
    height: auto;
    max-height: 220px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 12px;
}

.gallery-pic img{
    width: 100%;
    max-width: 160px;
    height: auto;
    max-height: 220px;
    justify-content: center;
    object-fit: cover;
    border-radius: 8px;
}

.text-info-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.text-info-container h3{
    font-size: 1.5rem;
    letter-spacing: 4px;
    color: var(--primary-blue);
    margin-bottom: 10px;
}

.text-info-container h2{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 3.5rem;
    margin-bottom: 25px;
}

.text-info-container p{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 25px;
    line-height: 2.5rem;
    max-width: 600px;
}